<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Smoke" verbose="1" parallel="tests" thread-count="5">



	<test name="Emulator-1">
		<parameter name="port" value="4726"></parameter>
		<parameter name="device" value="98857538485134424f"></parameter>
		<parameter name="mobilename" value="san"></parameter>
		<parameter name="platform_name" value="Android"></parameter>
		<parameter name="platform_version" value="6.0.1"></parameter>
		<parameter name="apk"
			value="C:\\Users\\santhosh\\Downloads\\SHAREit\\SM-G935F\\app\\AJIO1.apk"></parameter>
		<classes>
			<class name="com.appium.san.ajio.androidajio.TestLogin" />

		</classes>
	</test><!-- 
	<test name="Emulator-2">
		<parameter name="port" value="4727"></parameter>
		<parameter name="mobilename" value="A0001"></parameter>
		<parameter name="device" value="50a44df8"></parameter>

		<parameter name="platform_name" value="Android"></parameter>
		<parameter name="platform_version" value="6.0.1"></parameter>
		<parameter name="apk"
			value="C:\\Users\\santhosh\\Downloads\\SHAREit\\SM-G935F\\app\\AJIO.apk"></parameter>

		<classes>
			<class name="com.appium.san.ajio.androidajio.TestLogin" />
		</classes>
	</test>
 -->


	<!-- <test name="Real-Device-1"> <classes> <class name="com.mrmoin.appium.AppiumParallelTests"> 
		<methods> <include name="loginTest"></include> </methods> </class> <parameter 
		name="port" value="4726"></parameter> <parameter name="device" value="Khaja"></parameter> 
		<parameter name="platform_name" value="Android"></parameter> <parameter name="platform_version" 
		value="4.4.4"></parameter> </classes> </test> -->
</suite>